<div class="jumbotron text-center">
  <h2>Welcome To Recepies App</h2>
  <p class="lead">This is a recepie application for your  home base delicius repecies...</p>
  <button class="btn btn-success btn-lg">Sign Up Now!</button>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="midrow">
      View recepies as Guest User
    </h3>
    <p class="left"> Browse and view recepies as a guests and sign up later.</p>
    <p><%= link_to 'Browse Recepie Listings', '', class: 'btn btn-warning btn-small' %></p>
    
  </div>  
  <div class="col-md-4">
    <h3 class="midrow">
      View recepies as Guest User
    </h3>
    <p class="left"> Browse and view recepies as a guests and sign up later.</p>
    <p><%= link_to 'Browse Recepie Listings', '', class: 'btn btn-warning btn-small' %></p>
    
  </div>  
  <div class="col-md-4">
    <h3 class="midrow">
      View recepies as Guest User
    </h3>
    <p class="left"> Browse and view recepies as a guests and sign up later.</p>
    <p><%= link_to 'Browse Recepie Listings', '', class: 'btn btn-warning btn-small' %></p>
    
  </div>
  
  <div class="col-md-4"></div>
  
  <div class="col-md-4"></div>
</div>